<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>234792999383-dqeh0rir3231a4s98afri361ghde9thf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234792999383-dqeh0rir3231a4s98afri361ghde9thf</string>
	<key>API_KEY</key>
	<string>AIzaSyDVA9Iziiwu-2oG19aei36v03DsHPohXOE</string>
	<key>GCM_SENDER_ID</key>
	<string>234792999383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.allen.czerwinski.Social-Practice</string>
	<key>PROJECT_ID</key>
	<string>social-practice</string>
	<key>STORAGE_BUCKET</key>
	<string>social-practice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:234792999383:ios:c124ff5ad5de3c7c</string>
	<key>DATABASE_URL</key>
	<string>https://social-practice.firebaseio.com</string>
</dict>
</plist>